* {
  box-sizing: border-box;
}
.container {
  width: 768px;
  margin: 10px auto;
  font-family: sans-serif;
  background-color: #eee;
  padding: 1em;
  position: relative;
}
.container h1 {
  font-size: 2em;
  margin: 0.2em;
  color: #999;
}
.container h2 {
  font-size: 1.4em;
  padding: 0.2em 0;
  color: #999;
}
.container .sample {
  position: relative;
}
.container .sample .card {
  position: relative;
}
.container .sample .output {
  white-space: pre;
  font-family: monospace;
  font-size: 0.8em;
  padding: 0.5em;
}
