html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.card,
.card * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-rendering: geometricPrecision;
  font-size: 10pt;
  font-family: "Helvetica Neue", Verdana, Arial, Sans-serif;
}
.card .active .editor {
  background-color: #f9f9f9;
}
.card .editor {
  text-shadow: -0.5px -0.5px 1px rgba(255,255,255,0.7), 0.5px 0.5px 1px rgba(0,0,0,0.2);
  background-color: #f0f0f0;
}
.card .editor.active {
  background-color: #f9f9f9;
}
.card .editor:focus {
  outline: none;
  background-color: #fff;
}
.card .editor:focus:hover {
  background-color: #fff;
}
.card .editor:hover {
  background-color: #f9f9f9;
}
.card .editor.code,
.card .editor.reference {
  font-family: monospace;
}
.card .editor.reference {
  background-color: #efe;
}
.card .editor.empty:before {
  content: attr(placeholder);
  color: #aaa;
  text-shadow: none;
  font-style: italic;
}
.card .fields .value-container .editor.bool {
  min-width: 4em;
}
.card .fields .value-container .editor.text {
  padding: 0.2em 0.4em;
}
.card .fields .value-container input.editor {
  border: none;
  padding: 0.2em 0.4em;
  width: 100%;
}
.card .fields .value-container input.editor[type="date"] {
  margin: 0;
  padding-bottom: 0;
}
.card input.number,
.card input.date,
.card input.reference,
.card textarea.text {
  width: 100%;
  border: none;
  height: 1.7em;
  font-size: 1em;
}
.card input.bool[type=checkbox] {
  width: 100%;
  text-align: center;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -o-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
}
.card input.bool[type=checkbox]:before {
  visibility: visible;
  font-family: FontAwesome;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-size: 1.2em;
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -o-transform: scale(100);
  -ms-transform: scale(100);
  transform: scale(100);
}
.card input.bool[type=checkbox]:before {
  content: "\f204";
}
.card input.bool[type=checkbox]:checked:before {
  content: "\f205";
}
.card input.number {
  text-align: right;
}
.card textarea.text {
  padding: 0.2em;
  resize: none;
  max-height: 10em;
  background-color: #f3f3f3;
  font-family: inherit;
}
.card .code .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.card .code .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.card .array .toolbar {
  position: relative;
}
.card .array .items {
  max-height: 16em;
  overflow-y: auto;
}
.card .array .items > ol {
  margin-left: 1.3em;
  position: relative;
  counter-reset: li -1;
}
.card .array .items li:before {
  font-family: Verdana;
  content: counter(li);
  counter-increment: li;
  color: #000;
  position: absolute;
  text-align: right;
  right: calc(100% + 0.2em);
  padding: 2px 3px 1px 2px;
  margin-top: 7px;
  font-size: 0.4em;
  background-color: #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.card .array .items li:nth-child(n+999):before {
  font-size: 0.3em;
}
.card .array .items li:nth-child(n+9999):before {
  display: none;
}
.card .table header.toolbar {
  position: relative;
}
.card .table > table {
  border-bottom: 1px solid #ccc;
}
.card .table th {
  padding: 0.4em;
  font-family: Verdana;
  color: #000;
  font-size: 0.6em;
  background-color: #ddd;
}
.card .table th.primitive {
  border: 1px solid #ccc;
  border-right: none;
  border-bottom: none;
}
.card .table td.primitive {
  border: 1px solid #ccc;
  border-left: 1px solid #e6e6e6;
  border-bottom: none;
}
.card .table th.composite {
  border: 1px solid #ccc;
  border-bottom: none;
}
.card .table td.composite {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  padding-left: 0.5em;
  background-color: #ddd;
}
.card .block {
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}
.card .block:first-child {
  padding-top: 0.5em;
}
.card .block:last-child {
  padding-bottom: 0.5em;
}
.card .block.active {
  background-color: #fcfcfc;
}
.card .block:focus {
  outline: none;
  background-color: #fff;
}
.card .block.error {
  outline: 2px dotted rgba(200,25,0,0.5);
  outline-offset: -2px;
}
.card button.fa {
  padding-left: 4.5px;
  padding-top: 2.5px;
}
.card button.fa:before {
  margin-right: 2px;
  font-family: FontAwesome;
}
.card button {
  font-family: inherit;
  font-size: 0.9em;
  color: #444;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
  background-color: #f0f0f0;
  border: none;
  padding: 0 4px 1px 4px;
  min-width: 18px;
  height: 18px;
  margin: 0;
  background: color;
  display: inline-block;
  margin-right: 2px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.3);
  text-shadow: -0.5px -0.5px 1px rgba(255,255,255,0.8), 0.5px 0.5px 1px rgba(0,0,0,0.2);
}
.card button:last-child {
  margin-right: 0;
}
.card button.active,
.card button:active {
  background-color: #f9f9f9;
  -webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.8), inset 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 1px rgba(0,0,0,0.3);
  box-shadow: inset -1px -1px 1px rgba(255,255,255,0.8), inset 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 1px rgba(0,0,0,0.3);
}
.card button:focus {
  outline: none;
  outline-offset: -4px;
}
.card button:hover {
  background-color: #f9f9f9;
}
.card button.alert {
  color: #a30;
}
.card button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.card button[disabled] {
  color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.card button[disabled]:hover {
  background-color: #f0f0f0;
}
.card .frame-overlay {
  padding: 0.5em;
  margin: 0;
  background: #f6f6f6;
  z-index: 100;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.3), 2px 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.3), 2px 2px 4px rgba(0,0,0,0.1);
}
.card menu.frame-overlay {
  margin-top: 2px;
}
.card menu.frame-overlay button {
  width: 100%;
}
.card menu.frame-overlay li {
  margin-bottom: 0.5em;
}
.card menu.frame-overlay li:last-child {
  margin-bottom: 0;
}
.card .statusbar {
  height: 22px;
  background-color: #f6f6f6;
  position: absolute;
  width: 100%;
  top: calc(100% - 22px);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.1), 0px -1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.1), 0px -1px 2px rgba(0,0,0,0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card .toolbar {
  background-color: #f6f6f6;
  width: 100%;
  display: table;
  height: 22px;
  z-index: 10;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.1);
}
.card .toolbar > div {
  display: table-row;
}
.card .toolbar > div > div {
  display: table-cell;
  padding: 2px;
}
.card .toolbar .center {
  text-align: center;
}
.card .toolbar .right {
  text-align: right;
}
.card .toolbar .btn-group > * {
  margin-right: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.card .toolbar .btn-group :first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.card .toolbar .btn-group :last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.card .tooltip {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
}
.card .tooltip.error {
  border: 2px solid #b30;
}
.card article {
  background: -webkit-linear-gradient(bottom, #eee, #f0f0f6);
  background: -moz-linear-gradient(bottom, #eee, #f0f0f6);
  background: -o-linear-gradient(bottom, #eee, #f0f0f6);
  background: -ms-linear-gradient(bottom, #eee, #f0f0f6);
  background: linear-gradient(to top, #eee, #f0f0f6);
  font-size: 1.8em;
}
.card article a {
  color: #039;
  text-decoration: none;
}
.card article a:hover {
  text-decoration: underline;
}
.card article .strong {
  font-weight: bold;
}
.card article .emphasis {
  font-style: italic;
}
.card article .strike {
  text-decoration: line-through;
}
.card article [title]:before {
  display: block;
  position: absolute;
  top: -0.2em;
  left: -0.5em;
  z-index: -1;
  color: #f96;
  content: "\f069";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 0.3em;
  -webkit-font-smoothing: antialiased;
}
.card article .content {
  white-space: pre-wrap;
  position: relative;
  border-bottom: 2px solid transparent;
}
.card article .content.empty {
  padding: 0 0.25em;
  background-color: rgba(255,235,215,0.5);
}
.card article .content.empty:focus,
.card article .content:focus {
  background-color: rgba(240,220,200,0.25);
  border-bottom: 2px solid #cba;
}
.card .doc {
  position: absolute;
  height: 100%;
  width: calc(100% - 20em);
}
.card aside {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20em;
}
.card .context {
  position: absolute;
  width: 100%;
  height: 50%;
}
.card .context .error > div {
  background: background: -webkit-linear-gradient(bottom, #b30, #b30 10%, #fff 10.1%);;
  background: background: -moz-linear-gradient(bottom, #b30, #b30 10%, #fff 10.1%);;
  background: background: -o-linear-gradient(bottom, #b30, #b30 10%, #fff 10.1%);;
  background: background: -ms-linear-gradient(bottom, #b30, #b30 10%, #fff 10.1%);;
  background: background: linear-gradient(to top, #b30, #b30 10%, #fff 10.1%);;
}
.card .doc {
  border-right: 1px solid #eee;
}
.card .doc article {
  position: absolute;
  height: calc(100% - 44px);
  width: 100%;
  top: 22px;
  overflow: auto;
}
.card .fields {
  position: absolute;
  top: 22px;
  overflow: auto;
  width: 100%;
  height: calc(100% - 22px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card .fields > div {
  margin-top: 0.2em;
  display: table;
  width: 100%;
}
.card .fields > div .field {
  display: table-row;
}
.card .fields > div .field > div {
  display: table-cell;
}
.card .fields > div .field .key-container {
  padding: 0.2em 0 0.2em 0.2em;
}
.card .fields > div .field .key-container .key {
  background-color: #f6f6f6;
  padding: 0.2em;
}
.card .fields > div .field .value-container {
  width: 70%;
  padding: 0.2em 0.4em 0.2em 0.3em;
}
.card .fields > div .field.active {
  background-color: rgba(0,100,200,0.1);
}
.card .model {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  border-top: 1px solid #eee;
}
