extend layout-js

block content
  .card
    .doc
      header toolbar
      article
      footer footer / breadcrumbs
    aside
      .context
        header toolbar
        article
      .model
        header toolbar
        article