extend layout-js

block content
  .card
    .doc
      header
        .main-bar main
        .context-bar context
        .side-bar
          button.alert
              i.fa.fa-ban
      article
      footer footer / breadcrumbs
    aside
      .context
        header
          .main-bar
            button insert
              | 
              i.fa.fa-caret-down
          .context-bar
            .btn-group
              button ƒ
              button.active l
          .side-bar
            button.alert
              i.fa.fa-ban
        article