doctype
include mixin
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src="app/main.js")
  body
    .container