doctype
html
  head
    title Mocha
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/test/mocha.css")
  body
    div#mocha
    script(src="/test/mocha.js")
    script
      | mocha.setup('bdd');
    script(src="/test/tests.js")
    script
      | mocha.run();