marker-color = #cba
marker-background-color = rgba(240,220,200,0.25)
marker-background-light = rgba(255,235,215,0.5)
marker-pos-before = 0.85em
marker-pos-after = -0.5em

tooltip-marker-color = #f96
link-color = #039



.fragment
	display inline
	position relative

	a
		color link-color
	.content
		white-space pre
		position relative
		&.empty
			padding 0 0.25em
			background-color marker-background-light
		&.empty:focus, &:focus
			background-color marker-background-color
			border-bottom 2px solid marker-color