html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18pt;
  line-height: 1.2em;
  padding: 0px;
}
html,
body,
body > .container,
body > .container > .main-content {
  height: 100%;
}
.card {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}
.card .doc {
  width: calc(100% - 300px);
  overflow: hidden;
  min-height: 2em;
  position: relative;
  height: 100%;
}
.card .doc > div {
  position: absolute;
}
.card .doc header {
  top: 0;
  height: 25px;
}
.card .doc article {
  top: 25px;
  height: calc(100% - 50px);
}
.card .doc footer {
  bottom: 25px;
  height: 25px;
}
.card aside {
  width: 300px;
  overflow: auto;
}
.card header,
.card footer {
  color: #ccc;
  padding: 2px;
  font-size: 10pt;
  line-height: 20px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.card header {
  border-bottom: 1px solid #ddd;
}
.card header > .main-bar {
  width: 20%;
  text-align: left;
}
.card header > .context-bar {
  width: 60%;
  text-align: center;
}
.card header > .side-bar {
  width: 20%;
  text-align: right;
}
.card header button {
  font-size: 11px;
  color: #444;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
  background-color: #f0f0f0;
  border: none;
  padding: 0 4px 1px 4px;
  min-width: 18px;
  height: 18px;
  margin: 0;
  background: color;
  display: inline-block;
  margin-right: 2px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.3);
  text-shadow: -0.5px -0.5px 1px rgba(255,255,255,0.8), 0.5px 0.5px 1px rgba(0,0,0,0.2);
}
.card header button:last-child {
  margin-right: 0;
}
.card header button.active,
.card header button:active {
  background-color: #f9f9f9;
  -webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.8), inset 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 1px rgba(0,0,0,0.3);
  box-shadow: inset -1px -1px 1px rgba(255,255,255,0.8), inset 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 1px rgba(0,0,0,0.3);
}
.card header button:focus {
  outline: none;
  outline-offset: -4px;
}
.card header button:hover {
  background-color: #f9f9f9;
}
.card header button.alert {
  color: #a30;
}
.card header button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.card header .btn-group > * {
  margin-right: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.card header .btn-group :first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.card header .btn-group :last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.card a {
  color: #039;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}
.card .fragment {
  position: relative;
}
.card .fragment.strong {
  font-weight: bold;
}
.card .fragment.emphasis {
  font-style: italic;
}
.card .fragment.strike {
  text-decoration: line-through;
}
.card .fragment[title]:before {
  display: block;
  position: absolute;
  top: -0.2em;
  left: -0.5em;
  z-index: -1;
  color: #f96;
  content: "\f069";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 0.3em;
  -webkit-font-smoothing: antialiased;
}
.card .fragment .content {
  white-space: pre-wrap;
  position: relative;
  border-bottom: 2px solid transparent;
}
.card .fragment .content.empty {
  padding: 0 0.25em;
  background-color: rgba(255,235,215,0.5);
}
.card .fragment .content.empty:focus,
.card .fragment .content:focus {
  background-color: rgba(240,220,200,0.25);
  border-bottom: 2px solid #cba;
}
.card .field-container .field {
  margin: 0 2px;
}
.card .field-container .field .key {
  background-color: #fff;
  padding: 2px;
}
.card .field-container .field .value {
  background-color: #f6f6f6;
  padding: 2px;
}
.card .field-container .field .value .fragment {
  display: inline-block;
  width: 100%;
  min-height: 1em;
}
.card .field-container .field .value .fragment .content {
  display: inline-block;
  width: 100%;
  min-height: 1em;
}
.card .field-container .field .value .fragment .content[contenteditable] {
  background-color: #fff;
}
.card .field-container .calculated {
  background-color: #f6f6f6;
  padding: 2px;
  display: none;
}
.card .field-container hr {
  border: none;
  border-bottom: 1px solid #eee;
  display: block;
  margin: 0;
  padding: 0;
}
.card .field-container:last-child hr {
  border-bottom: none;
}
.card .doc {
  border-right: 1px solid #ddd;
}
.card .doc article {
  font-size: 16pt;
  padding: 4px 8px;
  overflow: auto;
}
.card aside {
  font-size: 10pt;
  line-height: 12pt;
}
.card aside .field {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.card aside .field .key {
  width: calc(100% - 200px);
}
.card aside .field .value {
  width: 200px;
}
.card aside .context {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
}
.card aside .model {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
}
