@import 'nib'

global-reset()

*
  box-sizing border-box

body
  font-family Helvetica, Arial, sans-serif
  font-size 18pt
  line-height 1.2em
  padding 0px

html, body, body > .container, body > .container > .main-content
  height 100%

@import '../../lib/card.styl'