@import 'nib'

borderColor       = #eee
placeHolderColor  = #eee
contextTextColor  = #999
variableColor     = #369
selectedColor     = #333
textSelectedColor = #acf
unreferencedColor = #a30
white1            = #fff

global-reset()

*
  box-sizing border-box

body
  font-family Helvetica, Arial, sans-serif
  font-size 10pt

@import 'support'
@import 'cards'
@import 'print'