.block
	border-bottom 1px dashed #eee
	padding 0.25em 0.5em
	box-shadow 0px 1px 1px #fff
	&:first-child
		padding-top 0.5em
	&:last-child
		padding-bottom 0.5em
	&:focus
		outline none
		background white