pad = 0.2em

.fields
	position absolute
	top toolbar-height
	overflow auto
	width 100%
	fill-height-except-toolbar()
	> div
		margin-top pad
		display table
		width 100%
		.field
			display table-row
			> div
				display table-cell
			.key-container
				padding pad 0 pad pad
				.key
					background-color light-bg-color
					border-bottom 1px solid #f0f0f0
					padding pad
			.value-container
				width 70%
				padding pad pad pad pad*1.5
				.value
					border-bottom 1px solid #f6f6f6