.fields
	position absolute
	top toolbar-height
	overflow auto
	width 100%
	fill-height-except-toolbar()
	> div
		display table
		width 100%
		.field
			display table-row
			> div
				display table-cell
			.key
				background-color light-bg-color
				border-bottom 1px solid #f0f0f0
				padding 0.2em 0 0.2em 0.2em
			.value-container
				width 70%
				padding 0.2em 0.3em
				.value
					border-bottom 1px solid #f6f6f6