.fields
	position absolute
	top toolbar-height
	overflow auto
	width 100%
	fill-height-except-toolbar()
	> div
		display table
		width 100%
		.field
			display table-row
			> div
				display table-cell
				padding 0.3em
			.key
				background-color light-bg-color
				border-bottom 1px solid #f0f0f0
			.value
				width 70%
				border-bottom 1px solid #f6f6f6