.container
  width 768px
  margin 10px auto
  font-family sans-serif
  background-color #eee
  padding 1em
  h1
    font-size 2em
    margin-bottom 0.5em
    color #999
  h2
    font-size 1.4em
    margin 0.5em 0
    color #999
  .sample
    background-color #fff