*
  box-sizing border-box

.container
  width 768px
  margin 10px auto
  font-family sans-serif
  background-color #eee
  padding 1em
  position relative
  h1
    font-size 1.5em
    margin 0.2em
    color #999
  h2
    font-family monospace
    white-space pre
    font-size 0.8em
    padding 0.2em 0
    color #999
    overflow auto
    max-height 10em
  .sample
    display inline-block
    width 32%
    margin 0 2px 1em
    vertical-align top

    .card
      position relative
  .output
  .focus
    white-space pre
    font-family monospace
    font-size 0.8em
    padding 0.5em
    color #aaa

  .focus
    color #099