.block
  padding 0.25em 0.5em
  margin-bottom 0.5em
  line-height 1.3em
  &:first-child
    padding-top 0.5em
  &:last-child
    padding-bottom 0.5em
  &.active
    background-color active-background
  &:focus
    outline none
    background-color white

  &.error
    outline 2px dotted rgba(200,25,0,0.5)
    outline-offset -2px