.editor
	text-shadow -0.5px -0.5px 1px rgba(255,255,255,0.7), 0.5px 0.5px 1px rgba(0,0,0,0.2)
	box-shadow inset 1px 1px 1px rgba(255,255,255,0.7), 0px 0px 1px rgba(0,0,0,0.3)
	background-color #f0f0f0
	padding 0.3em
	&.active
		background-color #f9f9f9
	&:focus
		outline none
		box-shadow inset 1px 1px 1px rgba(255,255,255,0.9), 0px 0px 1px rgba(0,0,0,0.4)
		background-color #fbfbfb
	&:hover
		background-color #f9f9f9

	&.bool
		cursor pointer
		font-size 11px
		color #333
		display inline-block
		border-radius 1px
		text-align center

	&.code
		font-family monospace

.article
	.editor.active
		background-color transparent