.field-container
  .field
    margin 0 2px
    .key
      background-color #fff
      padding 2px
    .value
      background-color light-bg-color
      padding 2px
      .fragment
        display inline-block
        width 100%
        min-height 1em
        .content
          display inline-block
          width 100%
          min-height 1em
          &[contenteditable]
            background-color #fff
  .calculated
    background-color light-bg-color
    padding 2px
    display none // temp
  hr
    border none
    border-bottom 1px solid grid-border-color
    display block
    margin 0
    padding 0

.field-container:last-child
  hr
    border-bottom none