@import 'colors'

.card
  display flex
  flex-direction row
  height 100%
  .doc
    width calc(100% - 300px)
    overflow auto
    min-height 2em
    display flex
    flex-direction column
    height 100%
    article
      height calc(100% - 24px)
  aside
    width 300px
    overflow auto
  header
    color #ccc
    padding 2px
    font-size 10pt
    line-height 20px
    height 24px
    background-color toolbar-bg-color
    margin-bottom 2px
    display flex
    flex-direction row
  header
    @import 'header'
  footer
    color #ccc
    text-align center
    padding 2px
    font-size 10pt
    line-height 24px
    height 24px
    background-color toolbar-bg-color
    margin-top 2px

.card
  @import 'ui'
  @import 'doc'
  @import 'side'