@import 'colors'

.card, .card *
  box-sizing border-box

.card
  display flex
  flex-direction row
  height 100%
  .doc
    width calc(100% - 300px)
    overflow hidden
    min-height 2em
    position relative
    height 100%
    > div
      position absolute
    header
      top 0
      height 25px
    article
      top 25px
      height calc(100% - 50px)
    footer
      bottom 25px
      height 25px
  aside
    width 300px
    overflow auto
  header, footer
    color #ccc
    padding 2px
    font-size 10pt
    line-height 20px
    background-color toolbar-bg-color
    display flex
    flex-direction row
  header
    border-bottom 1px solid #ddd
  header
    @import 'header'
  footer
    border-top 1px solid #ddd
  footer
    @import 'header'
    @import 'footer'

.card
  @import 'ui'
  @import 'doc'
  @import 'side'