@import 'colors'

.card
  display flex
  flex-direction row
  height 100%
  .doc
    width calc(100% - 300px)
    overflow none
    min-height 2em
    position relative
    height 100%
    > div
      position absolute
    header
      top 0
      height 24px
    article
      top 24px
      height calc(100% - 48px)
    footer
      bottom 24px
      height 24px
  aside
    width 300px
    overflow auto
  header, footer
    color #ccc
    padding 2px
    font-size 10pt
    line-height 20px
    background-color toolbar-bg-color
    display flex
    flex-direction row
  header
    @import 'header'
  footer
    @import 'footer'

.card
  @import 'ui'
  @import 'doc'
  @import 'side'