.editor
  text-shadow -0.5px -0.5px 1px rgba(255,255,255,0.7), 0.5px 0.5px 1px rgba(0,0,0,0.2)
  //box-shadow inset 1px 1px 1px rgba(255,255,255,0.7), 0px 0px 1px rgba(0,0,0,0.3)
  background-color #f0f0f0
  padding 0.2em
  &.active
    background-color #f9f9f9
    box-shadow inset 1px 1px 1px rgba(255,255,255,0.9), 0px 0px 1px rgba(0,0,0,0.4)
  &:focus
    outline none
    background-color #fbfbfb
  &:hover
    background-color #f9f9f9

  &.bool
    cursor pointer
    color #333
    display inline-flex
    border-radius 0.5em
    text-align center
    height 1.38em
    position relative
    &:before
      font-size 1.2em
      top 0.15em
      left calc(50% - 0.5em)
      position absolute
      display block

  &.code
  &.reference
    font-family monospace

  &.reference
    background-color #efe

  &.empty:before
    content attr(placeholder)
    color #aaa
    text-shadow none
    font-style italic

.article
  .editor.active
    background-color transparent

.fields
  .value-container
    .editor
      &.bool
        min-width 4em