.active
  .editor
    background-color #f9f9f9

.editor
  text-shadow -0.5px -0.5px 1px rgba(255,255,255,0.7), 0.5px 0.5px 1px rgba(0,0,0,0.2)
  background-color #f0f0f0
  &.active
    background-color #f9f9f9
  &:focus
    outline none
    background-color #ffffff
    &:hover
      background-color #ffffff
  &:hover
    background-color #f9f9f9

  &.bool
    cursor pointer
    color #333
    //display inline-block
    border-radius 0.5em
    text-align center
    //height 1.4em
    line-height 0em
    position relative
    background-color transparent
    &:before
      font-size 1.2em
      top -0.15em
      left calc(50% - 1em)
      position absolute
      display block

  &.code
  &.reference
    font-family monospace

  &.reference
    background-color #efe

  &.empty:before
    content attr(placeholder)
    color #aaa
    text-shadow none
    font-style italic

.fields
  .value-container
    .editor
      &.bool
        min-width 4em
      &.text
        padding 0.2em 0.4em
    input.editor
      border none
      padding 0.2em 0.4em
      width 100%
    input.editor[type="date"]
      margin 0
      padding-bottom 0


textarea.text
  width 100%
  border none
  height 1.7em
  padding 0.2em
  resize none
  max-height 10em
  background-color #f3f3f3
  font-size 1em

.code
  .CodeMirror
    border 1px solid #eee
    height auto

  .CodeMirror-scroll
    overflow-y hidden
    overflow-x auto

.array
  .toolbar
    position relative
  .items
    max-height 10em
    overflow-y auto
    > ol
      margin-left 1.3em
      position relative
      counter-reset li -1
    li:before
      font-family Verdana
      content counter(li)
      counter-increment li
      color #000
      text-shadow none
      position absolute
      text-align right
      right calc(100% + 0.2em)
      padding 2px 3px 1px 2px
      margin-top 7px
      font-size 0.4em
      background-color #ddd
      border-radius 4px
    li:nth-child(n+999):before
      font-size 0.3em
    li:nth-child(n+9999):before
      display none