.editor
  text-shadow -0.5px -0.5px 1px rgba(255,255,255,0.7), 0.5px 0.5px 1px rgba(0,0,0,0.2)
  background-color #f0f0f0
  &.active
    background-color #f9f9f9
  &:focus
    outline none
    background-color #f9f9f9
    box-shadow inset 1px 1px 1px rgba(255,255,255,1), 2px 2px 2px rgba(0,0,0,0.2)
  &:hover
    background-color #f9f9f9

  &.bool
    cursor pointer
    color #333
    //display inline-block
    border-radius 0.5em
    text-align center
    //height 1.4em
    line-height 0em
    position relative
    background-color transparent
    &:before
      font-size 1.2em
      top -0.15em
      left calc(50% - 1em)
      position absolute
      display block

  &.code
  &.reference
    font-family monospace

  &.reference
    background-color #efe

  &.empty:before
    content attr(placeholder)
    color #aaa
    text-shadow none
    font-style italic

.fields
  .value-container
    .editor
      &.bool
        min-width 4em
      &.text
        padding 0.2em 0.4em