tooltip-marker-color = #f96
marker-color = #cba
marker-background-color = rgba(240,220,200,0.25)
marker-background-light = rgba(255,235,215,0.5)
link-color = #039

light-bg-color = #f6f6f6
toolbar-bg-color = #f6f6f6
layout-border-color = #ddd
grid-border-color = #eee

error-dark = #bb3300