@import 'nib'
global-reset()

@import 'colors'
@import 'variables'

.card, .card *
  box-sizing border-box
  font-size 8pt
  font-family Verdana, Arial, Sans-serif
  .fa
    font-family FontAwesome

.card
  position absolute
  width 100%
  height 100%

.card
  @import 'ui'