toolbar-height = 22px
toolbar-from-bottom()
  top calc(100% - 22px)

fill-height-except-toolbar()
  height calc(100% - 22px)

bar-shadow-bottom()
  box-shadow 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.1)

bar-shadow-top()
  box-shadow inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.1), 0px -1px 2px rgba(0,0,0,0.1)

bar-shadow-right()
  box-shadow inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.1), 1px 0px 2px rgba(0,0,0,0.1)

overlay-shadow()
  box-shadow inset 1px 1px 1px rgba(255,255,255,0.8), 0px 0px 1px rgba(0,0,0,0.3), 2px 2px 4px rgba(0,0,0,0.1)

error-underline()
  background linear-gradient(bottom, error-dark, 10% error-dark, 10.1% white)